.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.hero-section {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
}

.hero-section .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.hcinnovationgroup.com/files/base/ebm/hci/image/2021/06/bigstock_Ehr_Electronic_Health_Record_E_304383664.60b6968b95b09.png?auto=format&w=1000&h=562&fit=clip);
}

.hero-section img{
    width: 100%;
    max-height: 100%;
}

.hero-section .hero-left, .hero-right{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.hero-section .hero-title {
    margin-top: 0px;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    background: -webkit-linear-gradient(var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section .hero-tagline {
    text-align: center;
    color: var(--secondary);
    font-size: 1.5em;
}

.hero-section .hero-feature {
    height: 80px;
}

.hero-section .hero-feature span {
    font-size: 48px;
    margin-top: 30px;
    color: var(--secondary);
    border-right: 4px solid var(--gray);
    padding-right: 2px;
    line-height: 1;
    border-radius: 4px;
    animation: blink 1s forwards infinite;
}

@keyframes blink {
    0% {
        border-color: rgba(10, 10, 10, 1);
    }
    50% {
        border-color: rgba(10, 10, 10, 0);
    }
    100% {
        border-color: rgba(10, 10, 10, 1);
    }
}

.hero-section .hero-action {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.hero-section .hero-action button {
    font-size: 20px;
    width: 200px;
    margin-right: 20px;
}

.about-section {
    position: sticky;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin: 0px auto;
    margin-top: -90px;
    padding: 16px;
    text-align: center;
    z-index: 4;
    box-shadow: 0px 0px 5px #808080db;
}
.about-section h2 {
    font-size: 2em;
    color: var(--secondary);
}
.about-section p {
    font-weight: normal;
    font-size: 18px;
    color: var(--text-light);
}

.feature {
    max-width: 1200px;
    margin: 6em auto;
    display: block !important;
    text-align: center;
}

.feature h2 {
    font-size: 2em;
    color: var(--secondary);
}

.feature-container{
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    align-items: initial;
}

.feature-container .feature-card {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--gray);
    height: 200px;
}

.feature-card .feature-card:hover {
    border: none;
    box-shadow: 0 3px 2px -1px rgba(0,0,0,.12),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12) ,-0 -1px 18px 0 rgba(0,0,0,.12)!important;
}

.feature-card i {
    font-size: 70px;
    background: -webkit-linear-gradient(var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feature-card h4 {
    font-size: 1.3em;
    margin-top: 12px;
    color: var(--text-light);
}

.security-container {
    background: #009bff;
    margin: 3em auto;
    max-width: 1200px;
    border-radius: 8px;
    padding: 16px;
} 

.security-section h2 {
    font-size: 2em;
    color: #fff;
}
.security-section p {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}

.subscribe {
    max-width: 1200px;
    margin: 3em auto;
    padding-top: 50px;
    border-top: 1px solid var(--gray);
    text-align: center;
}

.subscribe h4 {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary);
}

.subscribe form {
    margin-top: 3em;
}

.subscribe form input {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--gray-dark);
    margin-right: 20px;
    width: 300px;
}

.subscribe form input::placeholder {
    font-style: italic;
    color: var(--text-lightest);
}

.subscribe form input:focus {
    outline: 1px solid var(--secondary);
}