nav.navbar {
    height: 60px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    padding: 0 30px;
    z-index: 1000;
}

nav.navbar img {
    width: 50px;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1rem;
}
nav ul li a:hover {
    color: var(--secondary);
}
nav ul li a.active {
    color: var(--secondary);
}


.footer {
    background-color: var(--optional);
    color: var(--white);
}

.footer .footer-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.footer .footer-content h2 {
    font-size: 1.8em;
    letter-spacing: 2px;
}

.footer .footer-content a {
    display: block;
    color: white;
    text-decoration: none;
}

.footer .footer-content .contact-us > .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-content .contact-us i {
    font-size: 1.8em;
    padding: 10px;
    min-width: 30%;
}

.footer .copyright {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}