.features {
    margin-top: 5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.features h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--secondary);
}
.features p {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1.1rem;
    color: var(--text-light);
}

.features-list .feature {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 30px 10px;
    border-collapse: collapse;
}

.features-list .feature:nth-child(even) {
    flex-direction: row-reverse;
}

.features-list .feature > div {
    width: 50%;
    padding: 30px 10px;
}

.features-list .feature h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--secondary);
}

.features-list .feature p {
    margin: 20px auto;
    max-width: 1000px;
    font-size: 1.1rem;
    color: var(--text-light);
}

.features-list .feature img {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 0 auto;
    object-fit: cover;
}